doctype=html
html
	head
		title mApps
	body
		table
			td(id='tdCoinListId' )
				table
					td
						a(href='/')
							img(src='/public/muidLogo.png')
					td
						h1 Select app
	ul
		each app in apps
			a(href='./'+username+'/'+app)=app
			br
