doctype=html
html
	head
		title mApps
	body
		table
			td
				a(href='/')
					img(src='/public/muidLogo.png')
			td
				h1 Select user
	ul
		each user in userNames
			a(href='./'+user.name)=user.name
			br
