doctype html
html
  head
    title mUnsorted
    link(rel="stylesheet", href="/public/base/base.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")
    link(rel="stylesheet", href="/public/lib/datepicker.css")
    link(rel="stylesheet", href="/public/lib/quill.snow.css")
    script(src='/public/lib/tko4a9.js')
    script(src="/public/lib/datepicker.js")
    script(src='/public/lib/auto-complete.js')
    script(src="/public/lib/quill.min.js")
    script. 
      var exports = {};
      (function () {
        require = function(what) {
          return null;
        }
        
      }()); 
    script(src='/public/journal/journallist.js')
    script.
      (function () {
        window.onload = function ()
          {
            
            initUnsorted('#{userid}');

          }
      }()); 
      
  body
    table
      td(class="tdAlignTop")
        a(href='/'+ username)
          img(src='/public/muidLogo.png')
      td(class="tdAlignTop")
        h1 Unsorted notes
      td(class="tdAlignTop tdAlignRight")
        
       
    table(id='tdTodoListId' style='width:100%')
      td(class='tdAlignTop')
        
        fieldset(id='fsSearch')
          legend Search
          div(data-bind='visible: showInp' class='searchBox')
            div(data-bind='foreach: searchTagItems' class='tagDiv')
              span(class='spanTag' data-bind='text: name')
              a(href='#' data-bind='click: $parent.removeSearchTag')
                img(src='/public/muidRemove.png') 
            input(id='inpAddTodoItem' type='text' name='q'  data-bind='value: addTodoItemName')
        table(class='itemsBox')            
          tbody(data-bind='foreach: items' )
            tr(class='itemBox' data-bind='visible: mainEntry, css: $parent.getTodoStatusColor(status, done, !mainEntry)')
              td()
                span(data-bind='visible: mainEntry, text: name')
              
     
            tr(class='itemBox ')
                        

              td(data-bind='click: $parent.toggle')
                span(data-bind='visible: !notehtml, text: $parent.getTodoNotes($data)'  class='whitespacepre')
                span(data-bind='visible: notehtml , html: $parent.getTodoNotes($data)')
              
            tr
              td(class='tdAlignLeft')
                input(id='inpCreateKBItem' type='button', value='Create knowledgebase item' data-bind='visible: showDetails,click: $parent.createKnowledgebaseItem' class='tdAlignRight')
                br
                input(id='inpCreateTodoItem' type='button', value='Create todo item' data-bind='visible: showDetails, click: $parent.createTodoItem' class='tdAlignRight')
                br
                input(id='inpCreateTodoItem' type='button', value='Ignore' data-bind='visible: showDetails, click: $parent.ignoreItem' class='tdAlignRight')
            tr
              td(colspan=4 class='border-bottom-thin border-top-thin')
                span(class='footer' data-bind='text: $parent.getCreatedModifiedStr(idusercreated, datecreated, idusermodified, datemodified)')
                
          
                  
 
        
       
           
                        
           
                        
                
      
              
            
 

    