table {
    border-collapse: collapse;
   
 }
  
 th, td {
    text-align: left;
    padding: 4px;
 }
 /* 
 tr:nth-child(even) {background-color: #f2f2f2;}
*/
.tdAlignRight {
    text-align: right;
}

.tdAlignCenter {
    text-align: center;
}

.tdAlignTop {
    vertical-align: top;
}

.width100 {
    width: 100%;
}
.width75 {
    width: 75%;
}
.width50 {
    width: 50%;
}

.width40 {
    width: 40%;
}

.width30 {
    min-width: 30%;
}

.width120px {
    min-width: 120px;
}

.spanTag {
    
        
        position: relative;
       padding-left: 10px;
       padding-right: 10px;
        
        border: 3px solid #fff;
        border-radius: 100px;
        color: #fff;
        background-color: #6a8494;
        
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;
      
}

.tagDiv {
    padding-bottom: 5px;
    padding-top: 5px;
}
.searchBox {
    /*background-color: grey; */
    
}

.itemsBox {
    margin-top: 20px;
    
    /*border:solid; */
    width: 100%;

}



.footer {
    font-size: small;
}
/*
#fsSearch {
    margin-top: 20px;
}
*/
#inpSearch {
  /*  float: right; */
}
.colorItemActive {
    background-color: #3dcbf7
}

.colorItemInActive {
    background-color: #d1d1d1;
}

.colorItemArchived {
    background-color: #9c9c9c;
}

.colorItemDone {
    background-color: #00ff15;
}

.border-bottom-thin {
    border-bottom: solid;
}

.border-top-thin {
    border-top-color: currentcolor;
    border-top-style: solid;
    border-top-width: thin;
}
.standalone-container {
    /*
    margin: 50px auto;
    */
    max-width: 720px;
}
  
#bubble-container {
    border: solid;
    width: 400px;
  }

  .whitespacepre {
    white-space: pre-wrap;
  }