doctype html
html
  head
    title !{todoitem.kbId} - !{todoitem.name}
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/task.css")
    script(src='/public/lib/tko4a9.js')
    script(src='/public/shared/utils.js')
    script(src='/public/base.js')
    script(src='/public/kbedit.js')
    script.
      (function () {
        window.onload = function ()
          {
            init('#{user.id}','#{user.name}','#{todoitem.id}' )

          }
      }()); 
      
  body()
    table
      td(class="tdAlignTop")
        a(href='/'+ username)
          img(src='/public/muidLogo.png')
      td(class="tdAlignTop")
        h1 KnowledgeBase Item
      td(class="tdAlignTop tdAlignRight")
    table
      td(id='myBody' class='tdAlignTop width100')
        
        table(class='itemsBox' class="width100")
          tbody(data-bind='foreach: items' )
            tr
            tr(class='itemBox' )
              td
                span(data-bind='text: name, click: $parent.toggle')
              td 
                span(data-bind='text: ""')
              td 
                span(data-bind='text: ""')
              td(class="tdAlignRight")
                span(data-bind='visible: true, text: utils.createIdStrForIdInt(idint, 2)' )
            tr(data-bind='visible: true')
              td(colspan="4")
                span(data-bind='visible: notehtml, html: notehtml')
            tr(data-bind='visible: url')
              td
                div
                    a(href='#' data-bind='attr: { href: checkAndFixUrl(url) }, text: shortenString(url, 80)')
            tr
              td
                div(data-bind='foreach: tags' class='tagDiv')
                  a(href='#' data-bind='attr: { href: getTodoSearchUrl(name) }')
                    span(class='spanTag' data-bind='text: name')
                  span(data-bind='visible: $parent.showDetails')
                    a(href='#' data-bind='click: $parent.removeTagRelation' )
                      img(src='/public/muidRemove.png') 
                input(type='text' data-bind='value: $parent.addTagItemName, visible: showDetails')
                input(type='submit' value='Add tag' data-bind='click: addTagRelation, visible: showDetails')
            tr(data-bind='visible: showDetails && !showEdit')
              td
                input(type='button' value='Edit item' data-bind='click: $parent.toggleEdit') 
              td
                input(type='button' value='Disable item' data-bind='click: $parent.disableTodoItem') 
              td
                input(type='button' value='Archive item' data-bind='click: $parent.archiveTodoItem') 
              td
                input(type='button' value='Delete item' data-bind='click: $parent.delTodoItem')
            tr
            tr(data-bind='visible: true')
              td(colspan=4)
                span(class='footer' data-bind='text: getCreatedModifiedStr(idusercreated, datecreated, idusermodified, datemodified)')
              
                  

            tr(data-bind='visible: showEdit' )
              td(class='boxItem')
                table
                  
                  tr
                    td
                      label='Title'
                    td
                      input(type='text' name='title' data-bind='value: name')
                  tr
                      td
                        label='Notes'
                      td
                        textarea(cols="30" rows="10" data-bind='value: notes')
                  tr
                    td
                      label='Url'
                    td
                      input(type='text' name='title' data-bind='value: url')
                    tr
                      td
                        label='Priority'
                      td
                        input(type='text' name='title' data-bind='value: priority')
                       
                    tr
                      td
                        input(type='button' value='Save' data-bind= 'click: $parent.saveTodoItem')
                        input(type='button' value='Cancel' data-bind= 'click: $parent.toggleEdit ')
    

            
      td(id='tagBody' class='tdAlignTop , tdAlignRight')
        
          table
             
               
            tr
              table(class="width100")
                each row in itemTags
                  tr
                    td
                    
                      a(href='./todo?searchTag='+row.id)=row.name
                      br
                    td(class='tdAlignLeft')
                      a(href='#' onclick=`delTagRelation(${row.id})`) del
                  
      

          