doctype html
html
  head
    title mKnowledgebase
    link(rel="stylesheet", href="/public/base/base.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")
    link(rel="stylesheet", href="/public/lib/datepicker.css")
    link(rel="stylesheet", href="/public/lib/quill.snow.css")
    script(src='/public/lib/tko4a9.js')
    script(src="/public/lib/datepicker.js")
    script(src='/public/lib/auto-complete.js')
    script(src="/public/lib/quill.min.js")    
    script. 
        var exports = {};
        (function () {
          require = function(what) {
            return null;
          }
          
        }()); 
    //script(src='/public/shared/utils.js')
    //script(src='/public/base.js')
    script(src='/public/kb/kblist.js')
    script.
      (function () {
        window.onload = function ()
          {
            init('#{userid}','#{username}');
          }
      }()); 
      
  body
    table
      td(class="tdAlignTop")
        a(href='/'+ username)
          img(src='/public/muidLogo.png')
      td(class="tdAlignTop")
        h1 KnowledgeBase
      td(class="tdAlignTop tdAlignRight")
        
       
    table(class='width100')
      td(id='tdTodoListId' class='tdAlignTop')
        
        fieldset(id='fsSearch')
          legend Search (include)
          table(class="width100")
            td
              label='include tags and words'
              br
              input(id='inpAddTodoItem' type='text' name='q' class="width100"  data-bind='value: addTodoItemName')
              div(data-bind='foreach: searchTagItems' class='tagDiv')
                span(class='spanTag' data-bind='text: name')
                a(href='#' data-bind='click: $parent.removeSearchTag')
                  img(src='/public/muidRemove.png') 
            td             
              table(class="width100")
                td
                  label='exclude tags and words'
                  br
                  input(id='inpSearchNot' type='text' class="width100" data-bind='value: addExcludeTag')
                  div(data-bind='foreach: searchTagExcludeItems' class='tagDiv')
                    span(class='spanTag' data-bind='text: name')
                    a(href='#' data-bind='click: $parent.removeSearchTagExclude')
                      img(src='/public/muidRemove.png') 
            td(class="width25 tdAlignCenter")
              input(id='inpSearchBtn' type='button' value="Search" data-bind='click: searchForTerm' )                      
                
        fieldset
          legend Paste note/content for new knowledge base item
          div(class='standalone-container')
            div(id='bubble-container')
            input(id='inpSearch' type='button', value='Add Knowledgebase item' data-bind='click: addTodoItemNote')
            
        table(class='itemsBox')
          tbody(data-bind='foreach: filteredItems' )
            tr(class='itemBox' data-bind='css: $parent.getTodoStatusColor(status, done)')
              td
                span(data-bind='text: name, click: $parent.toggle')
                
              td 
                span(data-bind='text: $parent.getTodoPriorityText(priority)')
              td 
                span(data-bind='text: $parent.getTodoStatusText(status)')
              td(class="tdAlignTop tdAlignRight")
                a(href='#' data-bind='attr: { href: viewModelKbList.utils.getUrlForType(id, $parent.userName(), 2) }')
                  span(data-bind='visible: true, text: viewModelKbList.createIdStrForIdInt(idint, 2)' class='tdAlignRight')
            tr
              td
                span(data-bind='html: $parent.getTodoNotes($data)')
            tr
              td
                div(data-bind='visible: url')
                    //a(href='#' data-bind='attr: { href: checkAndFixUrl(url) }, text: shortenString(url, 80)')
            tr
              td
                div(data-bind='foreach: $parent.tags' class='tagDiv')
                  a(href='#' data-bind='attr: { href: $parent.getTodoSearchUrl(name) }')
                    span(class='spanTag' data-bind='text: name')
                  span(data-bind='visible: $parent.showDetails')
                    a(href='#' data-bind='click: $parent.removeTagRelation' )
                    img(src='/public/muidRemove.png') 
                input(type='text' name='q' data-bind='value: $parent.addTagItemName, visible: $parent.showDetails, attr: { id: "auto"+ id }')
                input(type='submit'  value='Add tag' data-bind='click: $parent.addTagRelationEdit, visible: $parent.showDetails')
            tr
              td
              td
              td
              td(class="tdAlighRight")
       
                input(type='button' value='Delete item' data-bind='visible: $parent.showDetails && !$parent.showEdit, click: $parent.delTodoItem')
            tr(data-bind='visible: parent.showDetails && !parent.showEdit')
              td(colspan=4)
                span(class='footer' data-bind='text: viewModelKbList.getCreatedModifiedStr(idusercreated, datecreated, idusermodified, datemodified)')
              
                  

            tr(data-bind='visible: $parent.showEdit' )
              td(class='boxItem')
                table
                  
                  tr
                    td
                      label='Title'
                    td
                      input(type='text' name='title' data-bind='value: name')
                 
                  tr
                    td
                      label='Url'
                    td
                      input(type='text' name='title' data-bind='value: url')
                  
                  tr
                    td
                      input(type='button' value='Save' data-bind= 'click: $parent.saveTodoItem')
                      input(type='button' value='Cancel' data-bind= 'click: $parent.toggleEdit ')
  
        
      td(id='tdTagListId' class='tdAlignTop , tdAlignRight, width30')
        fieldset  
          legend Tags
          span how how
          table(class="width100")
            tbody(data-bind='foreach: items')
              tr
                td
                
                  a(href='#' data-bind='attr: { href: getTodoSearchUrl(id) }, text: name')
                  br
                td
                  a(href='#' data-bind='click: $parent.delTagItem') del
              
            
 

    