doctype html
html
	head
		title mTasks
		link(rel="stylesheet", href="/public/base/base.css")
		link(rel="stylesheet", href="/public/tasks/task.css")
		link(rel="stylesheet", href="/public/lib/auto-complete.css")
		link(rel="stylesheet", href="/public/lib/datepicker.css")
		link(rel="stylesheet", href="/public/lib/quill.snow.css")
		script(src='/public/lib/tko4a9.js')
		script(src="/public/lib/datepicker.js")
		script(src='/public/lib/auto-complete.js')
		script. 
			var exports = {};
		script. 
			(function () {
				require = function(what) {
					return null;
				}

				window.onload = function ()
					{
						init('#{userid}','#{username}');
					}
			}()); 

		//script(src='/public/shared/types.js')
		//script(src='/public/base/base.js')
		script(src='/public/tasks/tasklist.js')
		script(src="/public/lib/quill.min.js")
		//script.
			(function () {
				require = function(what) {

				}
				window.onload = function ()
					{
						init('#{userid}','#{username}');

					}
			}()); 
			
	body
		table
			td(class="tdAlignTop")
				a(href='/'+ username)
					img(src='/public/muidLogo.png')
			td(class="tdAlignTop")
				h1 Tasks
			td(class="tdAlignTop tdAlignRight")
				
			 
		table(class='width100')
			td(id='tdTodoListId' class='tdAlignTop')
				
				fieldset(id='fsSearch')
					legend Search
					div(data-bind='visible: showInp' class='searchBox')
						div(data-bind='foreach: searchTagItems' class='tagDiv')
							span(class='spanTag' data-bind='text: name')
							a(href='#' data-bind='click: $parent.removeSearchTag')
								img(src='/public/muidRemove.png') 
						input(id='inpAddTodoItem' type='text' name='q'	data-bind='value: searchTerm')
						input(type='submit', value='Search' data-bind='click: addTodoItem')
						input(type='checkbox' data-bind='checked: searchShowDone, click: refresh')
						span Show done items
						
						
				table(class='itemsBox')
					thead
						td Title
						td Group
						td GroupPriority						 
						td TaskPriority
						td Status
						td Modified 
		
					tbody(data-bind='foreach: items' )
						tr(class='taskBox' data-bind='css: $parent.getTodoStatusColor(status, done)')
							td
								a( data-bind='attr: { href: $parent.getTaskUrlForType(id, 4) }')
									span(data-bind='text: name')
							td 
								span(data-bind='text: groupname')
							td 
								span(data-bind='text: $parent.getTodoPriorityText(grouppriority)')
							td 
								span(data-bind='text: $parent.getTodoPriorityText(priority)')
							td 
								span(data-bind='text: $parent.getTodoStatusText(status)')
							td 
								//span(data-bind='text: $parent.getDateTimeStrFromMS(datemodified)' )								 
								//span(data-bind='text: $parent.getDateTimeStrFromMS(datemodified), attr: { title: $parent.createIdStrForIdInt(idint, 4) }' )								 
						
	
							
						
 

		